<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="@string/marquee"
        android:icon="@drawable/ic_launcher_marquee"
        android:roundIcon="@drawable/ic_launcher_marquee" >
        <activity android:name="com.beztooth.UI.Activities.MarqueeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
